.gridRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 200px;
}

.gridRow:nth-child(2) {
  border-bottom: 3px solid #ea1d25;
  border-top: 3px solid #ea1d25;
}

.gridRow > div:nth-child(2) {
  border-left: 3px solid #ea1d25;
  border-right: 3px solid #ea1d25;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  min-height: 100px;
  /* margin-top: -20px; */
}
