.gridRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 180px;
}
