.BankAndEmployeeContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: cover;
  height: 70vh;
  border: 1px solid limegreen;
}

.talentBank {
  color: limegreen;
}
