.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: cover;
  height: 6vh;
  background-color: #ea1d25;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding-left: 4vw;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15pt;
}

.linksContainer {
  display: flex;
  width: 25vw;
  justify-content: space-between;
}

.whitemenu {
  display: flex;
  justify-content: space-between;
  width: cover;
  max-height: 10vh;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  /* padding-left: 4vw; */
}

img {
  max-width: auto;
  height: 100px;
}
#santander {
  max-width: 300px;
  height: auto;
}
