.secretButton {
  background-image: linear-gradient(to right, red, yellow);
}

.loginButton {
  background-image: linear-gradient(to right, #00cc33, #cc00cc);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: cover;
  height: 7vh;
  background-color: #ea1d25;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  padding-left: 4vw;
}

.whitemenu {
  display: flex;
  justify-content: space-between;
  width: cover;
  max-height: 10vh;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  /* padding-left: 4vw; */
}

img {
  max-width: auto;
  height: 100px;
}
#santander {
  max-width: 300px;
  height: auto;
}
